.logo{
    width:300px;
}
.color,span{
    color:rgba(250, 190, 76, 1) ;
}
.color-2{
    color: rgba(54, 57, 88, 1);
}
.remove-border{
    border: none;
    border-radius: 10px;
}
.btn-color{
    background:rgba(164, 188, 70, 1);
}
.image-bg{
    background-color: rgba(128, 128, 128,.2);
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
    height: 400px;
}
.large-font{
    font-size: 3rem;
}
.font-family{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
@media (max-width:776px){
    .viewport-align{
        text-align: center;
    }
    .logo{
        width: 80%;
        
    }
}